body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    color: coral;
}

header {
    background-color: aquamarine;
    color: coral;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    
}

header h1 {
    font-size: 8rem;
    text-align: center;

}

.slogan {
    color: yellow;
    font-size: 1.5rem;
    border: solid orange;
    border-radius: 8px;
}

.fact-button {
  padding: 20px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0px #05ece5;
  width: 20rem;
  height: 1.5rem;
  white-space: nowrap;
  margin-bottom: 2rem;
}

.fact-button:hover {
    background-color: #3e8e41
}

.fact-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #05ece5;
  transform: translateY(4px);
}

#fact-button {
    display: flex;
    justify-content: center;
}

.search-container {
    display: block;
    display: flex;
    justify-content: center;
}