body {
    background-color: aquamarine;
    color: coral;
}

header {
    font-family: Merriweather;
    background-color: aquamarine;
    color: coral;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;

}

header h1 {
    font-size: 100px;
    text-align: center;

}

.slogan {
    color: rgb(30, 0, 255);
    font-size: 1.5rem;
}

.fact-button {
    padding: 2rem;
    font-size: 20px;
    color: #050505;
    background-color: #f200ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px #05ece5;
    width: 17rem;
    height: 1.5rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-align: center;
}

.fact-button:hover {
    background-color: #3e8e41
}

.fact-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #05ece5;
    transform: translateY(4px);
}

#fact-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.search-container {
    display: block;
    display: flex;
    justify-content: center;
}

/* .recipe-card {
    width: 2rem;
    height: 3rem;
    background-color: darkorchid;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.recipe-card {
    font-family: Merriweather;
    justify-content: center;
    color: darkblue;
}

.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    font-family: Rubik Scribble;
    display: flex;
    justify-content: center;
    color: black;
}

#fact-display {
    text-align: center;
    font-size: 24px;
    font-family: Merriweather;
    color: black;
}

/* .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

